@using devbuddy.common.Services
@using devbuddy.Plugins.PomodoroTimer.Models
@using devbuddy.common.Applications
@using System.Globalization
@using devbuddy.common.Services.Base
@inherits AppComponentBase<PomodoroTimerDataModel>

<ModalComponentBase @ref="_reportsModal"
                    Title="Report salvati."
                    ModalSize="modal-lg"
                    ShowCancelButton="false">
    <div class="table-responsive">
        <table class="table caption-top">
            <caption>@Model.Reports.Count record. (verranno visualizzati solo gli ultimi 10 salvataggi.)</caption>
            <thead>
                <tr>
                    <th scope="col">Data salvataggio</th>
                    <th scope="col">Tempo attivit&agrave;</th>
                    <th scope="col" hidden="@DeviceServiceBase.IsInstanceInWebApp">Tempo inattivit&agrave;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model.Reports.OrderByDescending(report => report.ReportTime).Take(10))
                {
                    <tr>
                        <td>@report.ReportTime.ToString("dd/mm/yyyy HH:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td>@report.TimeEfficiently.ToString("HH:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td hidden="@DeviceServiceBase.IsInstanceInWebApp">@report.TimeInactive.ToString("HH:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger" @attributes="@Tooltip("Elimina")" @onclick=@(() => DeleteReportAsync(report))>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</ModalComponentBase>


<div class="row mb-3">
    <div class="@(DeviceServiceBase.IsInstanceInWebApp ? "col-12": "col-6") d-flex justify-content-center">
        <span>Attivit&agrave;:</span>&nbsp;
        <h1 class="time">@Hours.ToString("00"):@Minutes.ToString("00"):@Seconds.ToString("00")</h1>&nbsp;
    </div>
    <div class="col-6 d-flex justify-content-center" hidden="@DeviceServiceBase.IsInstanceInWebApp">
        <span hidden="@DeviceServiceBase.IsInstanceInWebApp">Inattivit&agrave;:</span> &nbsp;
        <h1 class="time" hidden="@DeviceServiceBase.IsInstanceInWebApp">@LockHours.ToString("00"):@LockMinutes.ToString("00"):@LockSeconds.ToString("00")</h1>&nbsp;
    </div>
</div>
<div class="row mb-1">
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary w-100" @attributes="@Tooltip("Start")" disabled="@(TimerService.InProgress)" @onclick="@StartMonitoring">
            <i class="fa-solid fa-play"></i>
        </button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-danger w-100" @onclick="@StopMonitoring" disabled="@(!TimerService.InProgress)" @attributes="@Tooltip("Stop")">
            <i class="fa-solid fa-stop"></i>
        </button>
    </div>
    <div class="col-3" >
        <button type="button" class="btn btn-outline-success w-100" @attributes="@Tooltip("Salva")" disabled="@(!TimerService.InProgress && !HasActivityRecorded && !HasInactivityRecorded)" @onclick="@SaveMonitoringAsync">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>
    </div>
    <div class="col-3" >
        <button type="button" class="btn btn-outline-success w-100" @attributes="@Tooltip("Visualizza i report")" @onclick="@(() => _reportsModal.Show())">
            <i class="fa-solid fa-database"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Configura un alert
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-3">
                                <label for="inputAlertMinutes" class="col-form-label">Ogni quanti minuti? *</label>
                            </div>
                            <div class="col">
                                <input type="number" min="0" id="inputAlertMinutes" class="form-control" @bind="@Model.Minutes">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-3">
                                <label for="inputText" class="col-form-label">Vuoi inserire un testo personalizzato?</label>
                            </div>
                            <div class="col">
                                <input type="text" min="0" id="inputText" class="form-control" placeholder="Testo dell'alert" @bind="@Model.Text">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <button type="button" class="btn btn-outline-success" @onclick=@SaveAlert>
                                Salva&nbsp;<i class="fa-solid fa-floppy-disk"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>